* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* navbar */
.main {
    height: 200vh;
    width: 100%;
}

.navbar .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
}

.navbar {

    background: linear-gradient(to right, #92a2f5, #f0748c);
}

ul li {
    font-size: 20px;
}

.dropdown-menu {
    background-color: aqua;
}

.container-fluid img {
    height: 70px;
    width: 80px;
}

/* end navbar */

/* section */
.section {
    margin-top: 80px;
}

.box {
    /* border: 1px solid black; */
    height: auto;
    width: 400px;
    justify-content: center;
    text-align: center;
    margin-left: 500px;
}

#about {
    color: red;
}

h2 {
    font-family: "Amatic SC", sans-serif;
}

.contenet {
    margin-top: 90px;
}


/* end section */

/* container */

.container {
    display: flex;
    flex-direction: row;
}

.box1 img {
    height: 500px;
    width: auto;
    margin-top: 25px;


}

.box1 img {

    width: 100%;

}

.box2 {
    height: 500px;
    width: auto;
    /* border: 1px solid black; */
    margin-left: 70px;
    margin-top: 50px;

}

.box2 p {
    font-family: initial;
    font-size: 20px;
}

.banner {
    background-color: white;

    position: absolute;
    top: 500px;
    left: -295px;
    justify-content: center;
    text-align: center;
    opacity: 0.8;
}

.number {
    font-size: 20px;
    color: red;
    font-weight: 500;
}

/* end container */

/* footer */
.footer {
    height: auto;
    width: 100%;
    background-color: black;

}

.box-1 {
    height: auto;
    width: 240px;
    /* border: 1px solid white; */
    margin-top: 50px;
    margin-left: 60px;
}

.content i {
    color: white;
}

.content {
    color: white;
}

.content span {
    font-size: 22px;
    margin-left: 10px;

}

.content p {
    font-size: 16px;
    color: gray;
    font-weight: bolder;
    margin-left: 20px;
}

.icon i {
    padding: 10px;
    color: gray;
    cursor: pointer;
}

.images img {
    height: 40px;
    width: 200px;
}