* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url('back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    height: auto;
    width: 100%;
    background-color: rgb(153, 153, 196);
    top: 0px;
    position: sticky;
    display: flex;

}

.nav input {
    float: right;
    opacity: 0.7;
    align-self: center;
    height: 20px;
}

ul li {

    margin: 15px;
    font-variant: small-caps;
    font-size: larger;
    list-style-type: none;

}

ul {
    display: flex;
}

a {
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: rgb(208, 208, 240);
}

.box {
    height: 300px;
    width: auto;
    border: 1px solid black;
    display: inline-block;
}


.box1 {

    height: 300px;
    width: auto;
    border: 1px solid black;
    clear: left;
}

.main {
    display: flex;

}

p {
    margin: 5px;
}

ul {
    width: 80%;
}